<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<tr>
    <td>Kierowca</td>
    <td>

        <!--                    </select>-->
        <select th:field="${szychta.driver.id}">
            <option th:each="kierowiec:${kierowcy}"
                    th:value="${kierowiec.id}"
                    th:text="|${kierowiec.firstName} ${kierowiec.name} ${kierowiec.id}|"></option>
            <!--                                th:text="|${kierowiec.firstName} ${kierowiec.name}|"></option>-->
        </select>
    </td>
</tr>
Collapse





</body>
</html>