<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <style>
        .content {
            max-width: 500px;
            margin: auto;
        }
    </style>
</head>
<body>
<div class="content">
<h2>Lista sesji</h2>
<table style="border:1px solid black">
    <tr>
        <td>Podopieczny</td>
        <td>Terapeuta</td>
        <td>Temat zajęć</td>
        <td>Opis</td>
        <td></td>
        <td></td>
    </tr>
    <tr th:each="therapy: ${therapies}">
        <td th:text="|${therapy.patient.firstName} ${therapy.patient.lastName}|"></td>
        <td th:text="|${therapy.therapist.firstName} ${therapy.therapist.lastName}|"></td>
        <td th:text="${therapy.topic}"></td>
        <td th:text="${therapy.description}"></td>
        <td>
            <form method="get" th:action="@{'/patient-profile/'+${therapy.patient.id}}">
                <input class="btn btn-default" type="submit" value="Pokaż profil podopiecznego"/>
            </form>
        </td>
        <td>
            <form method="get" th:action="@{'/therapist-profile/'+${therapy.therapist.id}}">
                <input class="btn btn-default" type="submit" value="Pokaż profil terapeuty"/>
            </form>
        </td>
    </tr>
</table>
<ul>
    <form method="get" th:action="@{/}">
        <input class="btn btn-default" type="submit" value="Wróć do strony głównej"/>
    </form>
</ul>
</div>
</body>
</html>
<!--            <a th:href="@{'/patient-profile/'+${patient.id}}">Pokaż profil</a>-->
