<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Register Patient Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <style>
        .content {
            max-width: 500px;
            margin: auto;
        }
    </style>
</head>
<body>
<div class="content">
    <h2>Dodawanie sesji</h2>

    <form method="post" th:action="@{/register-therapy}" th:object="${therapy}">
        <!--    <input type="hidden" th:field="${patient.id}">-->
        <table>
            <tr>
                <td>Wybierz podopiecznego</td>
                <td>
                    <select th:field="${therapy.patient}">
                        <option th:each="patient: ${patients}"
                                th:value="${patient.id}"
                                th:text="|${patient.firstName} ${patient.lastName}|">
                        </option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>Wybierz terapeutę</td>
                <td>
                    <select th:field="${therapy.therapist}">
                        <option th:each="therapist: ${therapists}"
                                th:value="${therapist.id}"
                                th:text="|${therapist.firstName} ${therapist.lastName}|">
                        </option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>Data sesji</td>
                <td><input type="date" th:field="${therapy.date}"/></td>
            </tr>
            <tr>
                <td>Temat zajęć</td>
                <td><input type="text" th:field="${therapy.topic}"/></td>
            </tr>
            <tr>
                <td>Opis zajęć</td>
                <td><input type="text" th:field="${therapy.description}"/></td>
            </tr>

            <tr>
                <td><input class="btn btn-default" type="submit" value="Zaplanuj sesję"/></td>
            </tr>
        </table>
    </form>
    <ul>
        <form method="get" th:action="@{/}">
            <input class="btn btn-default" type="submit" value="Wróć do strony głównej"/>
        </form>
    </ul>
</div>
</body>
</html>