<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    <style>
        .content {
            max-width: 500px;
            margin: auto;
        }
    </style>
</head>
<body>
<div class="content">
<h2>Profil podopiecznego</h2>
<form method="post">
    <table style="border:1px solid black">
        <tr>
            <td>Imię</td>
            <td>Nazwisko</td>
            <td>Data urodzenia</td>
            <td>Wiek</td>
        </tr>
        <tr>
            <td th:text="${patient.firstName}"></td>
            <td th:text="${patient.lastName}"></td>
            <td th:date="${patient.dateOfBirth}"></td>
            <td th:text="${patient.getAge()}"></td>
        </tr>
    </table>
    <tr>
        <td>Diagnoza</td>
        <td th:text="${patient.evaluation}"></td>
    </tr>

    <tr>
        <td>Strategia</td>
        <td th:text="${patient.strategy}"></td>
    </tr>
</form>
<ul>
    <form method="get" th:action="@{/}">
        <input class="btn btn-default" type="submit" value="Wróć do strony głównej" />
    </form>
</ul>
</div>
</body>
</html>